<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>LIME</title>
        <link rel="stylesheet" href="static/jquery-ui-1.12.1/jquery-ui.css">
        <link rel="stylesheet" href="static/ui.css">
        <link href="static/fancytree-2.20.0/skin-custom-lime/ui.fancytree.css" rel="stylesheet">
        <script src="static/jquery-ui-1.12.1/external/jquery/jquery.js"></script>
        <script src="static/jquery-ui-1.12.1/jquery-ui.js"></script>
        <script src="static/fancytree-2.20.0/jquery.fancytree.js"></script>
        <script src="static/fancytree-2.20.0/src/jquery.fancytree.glyph.js"></script>
        <script src="static/echarts-3.4.0/echarts.js"></script>

        <script src="static/lime.js"></script>
        <script src="static/navigation.js"></script>
        <script src="static/control_table.js"></script>
        <script src="static/qos.js"></script>
    </head>
    <body>
        <div id="container">
            <div id="head">
                <h1><img src=static/logo.gif height="50px">LIME: Lustre Intelligent Management Engine</h1>
            </div>
            <div id="window">
                <div id="nav_container">
                    <div id="nav"></div>
                </div>
                <div id="right_content_container">
                    <div id="right_content">
                        <div id="control"></div>
                        <div id="content"></div>
                    </div>
                </div>
            </div>
            <div id="footer_container">
            	<p>&copy;2017 Advanced Technology Team, <a href="http://www.ddn.com/">DataDirect networks Inc.</a>, All Rights Reserved.
            	</p>
            </div>
        </div>
    </body>
</html>
